<!DOCTYPE html>
<html lang='en'>

<head>
<meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

<style>

body{
  background-color: #1d8acb;
}

/*Not used, for the title*/
h4, h6{
  color: white;
}

/*To center (horizontally and vertically) the contents of the div*/
div {
    display: flex;
    justify-content: center;
    align-items: center;
}


</style>

<title>{% block title %}Data Lab{% endblock %}</title>

<script src='http://d3js.org/d3.v4.min.js'></script>
</head>


<body>

{% block content %}
<div class="row">
</div>
<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4"></div>
  <div class="col-xs-4 col-sm-4 col-md-4">
    <h4 id='title'>{{title}}</h4>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4"></div>
</div>
<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4"></div>
  <div class="col-xs-4 col-sm-4 col-md-4">
    <h6>{{bodytext}}</h6>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4"></div>
</div>
{% endblock %}

<script>
</script>
<!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>